<h1>You made it!</h1>

<%= #link_to @appointmee.client, @appointment %>

<%= #link_to @appointment.name, @c %>


<%= #link_to @appointment.client, @appointment %>

<%= l#ink_to @appointment.client, @appointment %>